version: '{build}'
skip_tags: true
image: Visual Studio 2017
configuration: Release
test: off
build_script:
- ps: ./Build.ps1
artifacts:
- path: artifacts/Akeneo.*.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: maiaOuhRTgWTc8TY4zJfznadOFa6Re7ojA0QFT7halifaN20cpNdIQtJi0lsszVn
  skip_symbols: true
  on:
    branch: /^(master|dev)$/
- provider: GitHub
  auth_token:
    secure: 1yhor7j2L0Qd1mK5l3JSoGAVr1zCDjGj2vhQkTQCMm3Q1MzFpAQqiuxLzCjUKyS9
  artifact: /Akeneo.*\.nupkg/
  tag: v$(appveyor_build_version)
  on:
    branch: master
